<!DOCTYPE html>
<html  data-theme="dark" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <meta charset="UTF-8">
    <title>Employee By Id</title>
    <nav>
        <ul>
            <li><a href="#" class="secondary">PlaceHolder</a></li>
        </ul>
        <ul>
            <li><strong>The Wiser Company</strong></li>
        </ul>
        <ul>
            <li><a href="#" class="secondary">PlaceHolder</a></li>
        </ul>
    </nav>
</head>
<body class="container">
<article data-theme="light">
    <h1 align="center" th:text="|${employee.firstName} ${employee.lastName}|">Employee FirstName</h1>
</article>
<table role="grid">
    <thead>
    <tr>
        <th scope="col">Salary</th>
        <th scope="col">Job</th>
    </tr>
    </thead>
    <tbody>
        <td th:text="${#numbers.formatCurrency(employee.salary)}"></td>
        <td th:text="${employee?.job?.jobTitle} ?: '(Not Available)'"></td>
    </tr>
    </tbody>
</table>

</body>
</html>