<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PoolVikings - About</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


  <!-- Favicons -->
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: UpConstruction - v1.3.0
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>PoolVikings<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/about/index">About</a></li>
          <li><a href="/departments/services">Services</a></li>
          <li><a href="/employees/index">Employees</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('https://wallpaperaccess.com/full/2618482.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>About</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>About</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row position-relative">

          <div class="col-lg-7 about-img" style="background-image: url(https://infinitypoolstx.com/wp-content/uploads/2021/11/257573013_4239472132827732_1338265578599819579_n-1024x768.jpg);"></div>

          <div class="col-lg-7">
            <h2>Getting Started</h2>
            <div class="our-story">
              <h4>Est 1967</h4>
              <h3>The Beginning</h3>
              <p>Pool Vikings was founded by a group of passionate pool experts with a vision to revolutionize the industry. Inspired by the legendary Vikings, they aim to combine exceptional customer service, unparalleled expertise, and cutting-edge technology to deliver the best possible pool experience for their clients.</p>
              <ul>
                <li><i class="bi bi-check-circle"></i> <span>Deliver Excellent Customer Service</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Have World-Class Pool Professionals</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Up to date with Industry standards</span></li>
              </ul>
              <p>Click here to watch a quick video showcasing our stunning pool designs and top-notch services.</p>

              <div class="watch-video d-flex align-items-center position-relative">
                <i class="bi bi-play-circle"></i>
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox stretched-link">Watch Video</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter section-bg">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="347" data-purecounter-duration="1" class="purecounter"></span>
                <p>Happy Clients</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-journal-richtext color-orange flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="200" data-purecounter-duration="1" class="purecounter"></span>
                <p>Projects</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-headset color-green flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="3879" data-purecounter-duration="1" class="purecounter"></span>
                <p>Hours Of Support</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-people color-pink flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="1" class="purecounter"></span>
                <p>Hard Workers</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>
    </section><!-- End Stats Counter Section -->

    <!-- ======= Alt Services Section ======= -->
    <section id="alt-services" class="alt-services">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-6 img-bg" style="background-image: url(https://www.poolcontractor.com/wp-content/uploads/2020/08/san-antonio-pool-installation-1024x768.jpg);" data-aos="zoom-in" data-aos-delay="100"></div>

          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3>Building Department</h3>
            <p>Our dedicated building department manages every aspect of the pool construction process. From obtaining permits to ensuring the highest quality of workmanship, our experienced team ensures that your pool is built to perfection.</p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-easel flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Awards</a></h4>
                <p>Pool Vikings has won multiple awards for its outstanding design and construction, ensuring that our clients receive the best possible pool experience</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Schedule</a></h4>
                <p>Pool Vikings meticulously plans and manages every project to ensure that we always deliver on time and meet or exceed our clients' expectations</p>
              </div>
            </div><!-- End Icon Box -->

<!--            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">-->
<!--              <i class="bi bi-brightness-high flex-shrink-0"></i>-->
<!--              <div>-->
<!--                <h4><a href="" class="stretched-link">Dine Pad</a></h4>-->
<!--                <p>Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus aut eligendi omnis</p>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Icon Box &ndash;&gt;-->

<!--            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">-->
<!--              <i class="bi bi-brightness-high flex-shrink-0"></i>-->
<!--              <div>-->
<!--                <h4><a href="" class="stretched-link">Tride clov</a></h4>-->
<!--                <p>Est voluptatem labore deleniti quis a delectus et. Saepe dolorem libero sit non aspernatur odit amet. Et eligendi</p>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Icon Box &ndash;&gt;-->

          </div>
        </div>

      </div>
    </section><!-- End Alt Services Section -->

    <!-- ======= Alt Services Section 2 ======= -->
    <section id="alt-services-2" class="alt-services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3>Customer Relations Department</h3>
            <p>At Pool Vikings, we pride ourselves on our excellent customer relations department. Our friendly and knowledgeable team is dedicated to providing exceptional service, answering questions, and addressing concerns promptly to ensure that our clients have a stress-free pool ownership experience. We understand that happy customers are the key to our success, and we work hard to ensure that every interaction with our company is a positive one.</p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-easel flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">National Business Nomination</a></h4>
                <p>We are proud to have received a national business nomination for our outstanding customer service, a testament to our commitment to delivering exceptional pool experiences to our clients</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Work Culture</a></h4>
                <p>Pool Vikings fosters a positive and collaborative work culture, where employees are encouraged to share ideas, take ownership of their work, and work together to achieve our shared goals of excellence and customer satisfaction.</p>
              </div>
            </div><!-- End Icon Box -->

<!--            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">-->
<!--              <i class="bi bi-brightness-high flex-shrink-0"></i>-->
<!--              <div>-->
<!--                <h4><a href="" class="stretched-link">Dine Pad</a></h4>-->
<!--                <p>Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus aut eligendi omnis</p>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Icon Box &ndash;&gt;-->

<!--            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">-->
<!--              <i class="bi bi-brightness-high flex-shrink-0"></i>-->
<!--              <div>-->
<!--                <h4><a href="" class="stretched-link">Tride clov</a></h4>-->
<!--                <p>Est voluptatem labore deleniti quis a delectus et. Saepe dolorem libero sit non aspernatur odit amet. Et eligendi</p>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Icon Box &ndash;&gt;-->
          </div>

          <div class="col-lg-6 img-bg" style="background-image: url(https://wallpaperaccess.com/full/4546786.jpg);" data-aos="zoom-in" data-aos-delay="100"></div>
        </div>

      </div>

    </section><!-- End Alt Services Section 2 -->

    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>The Team</h2>
          <p>Meet our talented team of pool experts, with years of experience in pool design, construction, maintenance, and repair, dedicated to providing our clients with the best possible pool experience.</p>
        </div>

        <div class="row gy-5">

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="https://images.squarespace-cdn.com/content/v1/5c570868da50d32f334c6a46/1595598383438-EEJXRWPUYGZ6VY3G425F/dimitri-otis-portrait-headshot-10.png" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Christopher Walken</h4>
              <span>Chief Executive Officer</span>
              <p>"As the CEO of our pool company, my mission is to constantly push the boundaries of innovation and excellence in the pool industry, and to empower our team to deliver the best possible experience to our customers."</p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="https://leadandgovern.com/wp-content/uploads/2020/11/ThomasGibson-600X600.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Mike Wazowski</h4>
              <span>Customer Support Lead</span>
              <p>"I take pride in providing excellent customer service and making sure every interaction with our team leaves our customers feeling satisfied and valued."</p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="https://hemoalliance.org/wp-content/uploads/2018/01/Sean-Singh-Headshot-600x600-1.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Brett Johnson</h4>
              <span>CISO</span>
              <p>"As the CISO of our company, my priority is to ensure the security and privacy of our customers' data while enabling our teams to innovate and grow with confidence."</p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
            <div class="member-img">
              <img src="http://tapinto-production.s3.amazonaws.com/uploads/articles/sh/facebook_c0dc5150aaa332c02227_Shawn_Potillo_Headshot.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Donald Bergen</h4>
              <span>Build Architect Lead</span>
              <p>"As the lead build architect, I am passionate about designing and constructing functional, efficient, and sustainable buildings that meet the unique needs and visions of our clients."</p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
            <div class="member-img">
              <img src="https://www.ifes.org/sites/default/files/styles/person_card/public/decorative-images/2022-09/Martin%20Garcia%20600x600.png?itok=2mQ2g8aW" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>John Simptin</h4>
              <span>Marketing</span>
              <p>"As a marketer at our company, I am dedicated to creating impactful campaigns that not only promote our brand and products, but also connect with our audience on a deeper level and inspire them to take action."</p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">
            <div class="member-img">
              <img src="https://salesenablement.pro/assets/2022/11/Profile-2.0-pic-600x600.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Fred Godson</h4>
              <span>Lead Service Technician</span>
              <p>"I take pride in leading our team of service technicians to deliver top-notch maintenance and repair services, ensuring our customers can enjoy their pool with peace of mind."</p>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>
    </section><!-- End Our Team Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>PoolVikings</h3>
              <p>
                D900 Pool Road <br>
                NY 535023, USA<br><br>
                <strong>Phone:</strong> +1 555 55588 55<br>
                <strong>Email:</strong> PoolVikings@example.com<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div><!-- End footer links column-->

          <!--          <div class="col-lg-2 col-md-3 footer-links">-->
          <!--            <h4>Our Services</h4>-->
          <!--            <ul>-->
          <!--              <li><a href="#">Web Design</a></li>-->
          <!--              <li><a href="#">Web Development</a></li>-->
          <!--              <li><a href="#">Product Management</a></li>-->
          <!--              <li><a href="#">Marketing</a></li>-->
          <!--              <li><a href="#">Graphic Design</a></li>-->
          <!--            </ul>-->
          <!--          </div>&lt;!&ndash; End footer links column&ndash;&gt;-->

          <!--          <div class="col-lg-2 col-md-3 footer-links">-->
          <!--            <h4>Hic solutasetp</h4>-->
          <!--            <ul>-->
          <!--              <li><a href="#">Molestiae accusamus iure</a></li>-->
          <!--              <li><a href="#">Excepturi dignissimos</a></li>-->
          <!--              <li><a href="#">Suscipit distinctio</a></li>-->
          <!--              <li><a href="#">Dilecta</a></li>-->
          <!--              <li><a href="#">Sit quas consectetur</a></li>-->
          <!--            </ul>-->
          <!--          </div>&lt;!&ndash; End footer links column&ndash;&gt;-->

          <!--          <div class="col-lg-2 col-md-3 footer-links">-->
          <!--            <h4>Nobis illum</h4>-->
          <!--            <ul>-->
          <!--              <li><a href="#">Ipsam</a></li>-->
          <!--              <li><a href="#">Laudantium dolorum</a></li>-->
          <!--              <li><a href="#">Dinera</a></li>-->
          <!--              <li><a href="#">Trodelas</a></li>-->
          <!--              <li><a href="#">Flexo</a></li>-->
          <!--            </ul>-->
          <!--          </div>&lt;!&ndash; End footer links column&ndash;&gt;-->

        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>PoolVikings</span></strong>. All Rights Reserved
        </div>
        <!--        <div class="credits">-->
        <!--          &lt;!&ndash; All the links in the footer should remain intact. &ndash;&gt;-->
        <!--          &lt;!&ndash; You can delete the links only if you purchased the pro version. &ndash;&gt;-->
        <!--          &lt;!&ndash; Licensing information: https://bootstrapmade.com/license/ &ndash;&gt;-->
        <!--          &lt;!&ndash; Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ &ndash;&gt;-->
        <!--          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
        <!--        </div>-->
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


</body>

</html>