<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PoolVikings - Blog</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/pool.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: UpConstruction - v1.3.0
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="/" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1>PoolVikings<span>.</span></h1>
    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/index">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/equipment">Equipment</a></li>
        <li><a href="/blog/" class="active">Blog</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('https://wallpaperaccess.com/full/2618482.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Blog</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Blog</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 posts-list">

          <div class="col-xl-4 col-md-6">
            <div class="post-item position-relative h-100">

              <div class="post-img position-relative overflow-hidden">
                <img src="https://i0.wp.com/blog.myswimpro.com/wp-content/uploads/2022/10/master-spas-myswimpro-fares-ksebati-1024x768.jpg?resize=1024%2C768" class="img-fluid" alt="">
                <span class="post-date">June 15</span>
              </div>

              <div class="post-content d-flex flex-column">
                <h3 class="post-title">Check out Zodaics 9 Cool Facts About Swimming Pools</h3>
                <p>
                  Swimming pools are popular for many reasons. But did you know when the first pool was invented or just how popular they are in this country? Here are some fun facts about swimming pools.
                </p>
                <hr>
                <a href="https://www.zodiacpoolblog.com/en/2017/june/9-cool-facts-about-swimming-pools" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6">
            <div class="post-item position-relative h-100">

              <div class="post-img position-relative overflow-hidden">
                <img src="https://splashdfw.com/wp-content/uploads/2019/06/splash-pools-building-a-custom-pool-is-fun-1024x768.jpg" class="img-fluid" alt="">
                <span class="post-date">July 25</span>
              </div>

              <div class="post-content d-flex flex-column">
                <h3 class="post-title">7 Unusual and Fun Facts About Swimming Pools</h3>
                <p>
                  For a little bit of fun, we thought we’d put our swimming pool expertise to good use and compile a list of our favourite fun and unusual facts about swimming pools. Why not, right?! Read on below to enlighten yourself with some interesting tidbits about swimming pools that will make for great conversation starters around the dining table.
                </p>
                <hr>
                <a href="https://summertimepools.com.au/7-unusual-and-fun-facts-about-swimming-pools/" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6">
            <div class="post-item position-relative h-100">

              <div class="post-img position-relative overflow-hidden">
                <img src="https://www.aqualeisurepoolsandspas.com/wp-content/uploads/2022/03/pool-cover.png" class="img-fluid" alt="">
                <span class="post-date">April 10</span>
              </div>

              <div class="post-content d-flex flex-column">
                <h3 class="post-title">When Should you Open Your Pool?</h3>
                <p>
                  Well, it's that time of year again, folks. And after the winter we had here in Virginia, I say good riddance! But with the warmer weather
                </p>
                <hr>
                <a href="https://www.riverpoolsandspas.com/blog/best-time-to-open-pool#:~:text=You%20should%20open%20your%20pool,opening%20later%20in%20the%20spring." class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
          </div><!-- End post list item -->
        </div><!-- End blog posts list -->
      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>PoolVikings</h3>
              <p>
                D900 Pool Road <br>
                NY 535023, USA<br><br>
                <strong>Phone:</strong> +1 555 55588 55<br>
                <strong>Email:</strong> PoolVikings@example.com<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about/index">About us</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/equipment">Equipment</a></li>
              <li><a href="/contact/">Contact</a></li>
            </ul>
          </div><!-- End footer links column-->



        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>PoolVikings</span></strong>. All Rights Reserved
        </div>
        <!--        <div class="credits">-->
        <!--          &lt;!&ndash; All the links in the footer should remain intact. &ndash;&gt;-->
        <!--          &lt;!&ndash; You can delete the links only if you purchased the pro version. &ndash;&gt;-->
        <!--          &lt;!&ndash; Licensing information: https://bootstrapmade.com/license/ &ndash;&gt;-->
        <!--          &lt;!&ndash; Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ &ndash;&gt;-->
        <!--          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
        <!--        </div>-->
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>

</html>