<!DOCTYPE html>
<html  data-theme="dark" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <meta charset="UTF-8">
    <title>List of Departments</title>
    <article data-theme="light">
    <nav>
        <ul>
            <li data-theme="dark"><a href="departments/index" class="secondary">Departments</a></li>
        </ul>
        <ul>
            <li><strong>The Wise Company</strong></li>
        </ul>
        <ul>
            <li><a href="employees/index" class="secondary">Employees</a></li>
        </ul>
    </nav>
    </article>
</head>
<body class="container">

    <h1 align="center">Welcome</h1>

    <h1 align="center"><a href="tasks/index">Temp Task Link</a></h1>
</body>
</html>