<!DOCTYPE html>
<html  data-theme="dark" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <meta charset="UTF-8">
    <title>Department</title>
    <nav>
        <ul>
            <li><a href="#" class="secondary">PlaceHolder</a></li>
        </ul>
        <ul>
            <li><strong>The Wiser Company</strong></li>
        </ul>
        <ul>
            <li><a href="#" class="secondary">PlaceHolder</a></li>
        </ul>
    </nav>
</head>
<body class="container">
<article data-theme="light">
    <h1 align="center" th:text="${department.departmentName}">Department</h1>
</article>

</body>
</html>