<!DOCTYPE html>
<html  data-theme="dark" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <meta charset="UTF-8">
    <title>List of Employees</title>
    <nav>
        <ul>
            <li><a href="#" class="secondary">PlaceHolder</a></li>
        </ul>
        <ul>
            <li><strong>The Wiser Company</strong></li>
        </ul>
        <ul>
            <li><a href="#" class="secondary">PlaceHolder</a></li>
        </ul>
    </nav>
</head>
<body class="container">
<article data-theme="light">
    <h1 align="center">Add Department</h1>
</article>
<form action="#" th:action="@{/departments/update/{id}(id=${department.id})}" th:object="${department}" method="post">
    <div class="grid">
        <label for="departmentName">
            First name
            <input type="text" th:field="*{departmentName}" id="departmentName" placeholder="Department Name">
            <span th:if="${#fields.hasErrors('departmentName')}" th:errors="*{departmentName}"></span>
        </label>

        <button type="submit" value="Update Department">Submit</button>
    </div>
</form>
</body>
</html>